:global(html), :global(body), :global(#react){
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
:global(#react) > div{
    width: 100%;
    height: 100%;
}

:root{
    --blue: #4FC3F7;
}