:root{
  --passive-border-color: #9e9e9e;
  --hover-border-color: #000000;
  --active-border-color: #4284ae;
  --error-border-color: #ff0033;
  --border-thickness: 2px;
  --transition-time: 0.30s;
}

.button{
  border: 2px solid var(--passive-border-color);
  background-color: transparent;
  color: var(--passive-border-color);
  font-size: 1em;
  margin: 5px 10px;
}
.button:hover, .button:focus{
  color: var(--hover-border-color);
  border-color: var(--hover-border-color);
}