:root{
  --checkbox-height: 100px;
  --checked-color: #4284ae;
  --check-mark-color: #efefef;
  --hover-color: #000000;
  --background-color:#667788;
  --font-color:#9e9e9e;
  --duration: .4s;
}
.container{
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}
.input{
  position: absolute;
  margin: 0;
  top: 0.5em;
  left: 0.9em;
  width: 0;
  height: 0;
}
.label{
  position: relative;
  display: inline-block;
  color: var(--font-color);
  transition: color 300ms cubic-bezier(.4,.0,.23,1);
}
.checkbox{
  display: inline-block;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border: 2px solid var(--font-color);
  border-radius: 2px;
  cursor: pointer;  
  transition: all 300ms cubic-bezier(.4,.0,.23,1);
  margin-right: 5px;
}
.label:hover, .label:focus, .input:focus + .label{
  color: var(--hover-color);
}
.label:hover .checkbox, .label:focus .checkbox, .input:focus + .label .checkbox{
  background: rgba(255,255,255,.3);
  border-color: var(--hover-color);
}
.input:checked + .label .checkbox{
  border: .5em solid var(--checked-color);
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.input:checked + .label .checkbox:before{
  content: "";
  position: absolute;
  top: .4em;
  left: .1em;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 300ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: var(--check-mark-color);
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .3em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .3em;
    height: .6em;    
    border-color: var(--check-mark-color);
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}