:root{
  --passive-border-color: #9e9e9e;
  --hover-border-color: #000000;
  --active-border-color: #4284ae;
  --error-border-color: #ff0033;
  --border-thickness: 2px;
  --transition-time: 0.30s;
}
@custom-media --med-viewport (min-width: 768px);

.day{
  padding: 0 10px;
  box-sizing: border-box;
}
.title{
  margin: 5px 0;
}
.dayContainer{
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid var(--passive-border-color);
  transition: color,border-color 300ms cubic-bezier(.4,.0,.23,1);
}
.dayContainer:hover{
  border-color: var(--hover-border-color);
}
.item{
  width: 100%;
}
.item.width33{
  width: 50%;
}
@media(--med-viewport){
  .item.width33{
    width: 33%;
  }
  .item.width50{
    width: 50%;
  }
}